@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/content/styles/Style.css">
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Chess Players</title>
</head>

<body>
    <div id="headerr" class="mainText">
        <h1>
            <p>Chess Matches</p>
        </h1>
    </div>

    <div id="first" class="person">
        <div class="twoImages">
            <img class="firstImage">
        </div>
        <button id="button1" class="btn">Create Game</button>
        <p class="vs">Player: </p>
    </div>

    <p id="games-list-text">Games List: </p>

    <div id="second">
        <div id="games-list">

        </div>
    </div>
    <script src="~/content/scripts/Constants.js"></script>
    <script src="/content/scripts/GetJsonFromServerUse.js"></script>
    <script src="/content/scripts/View/ViewMethods.js"></script>
    <script src="/content/scripts/ChessGamesInfo.js"></script>
</body>

</html>